button
.button
    outline none
    overflow hidden
    transform translate(0, 0)
    position relative
    border 1px solid rgba(0,0,0,0.05)
    border-radius 0.15em
    padding 5px 10px
    display inline-block
    background transparent
    background-image none
    min-width 30px
    vertical-align middle
    text-align center
    color rgba(0,0,0,0.44)
    &:hover:not(:disabled)
    &:hover:not([disabled])
      color rgba(0,0,0,0.88)
      text-decoration underline
    &:disabled
    &[disabled]
      opacity .4
