{
  "presets": ["@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread", [
      "module-resolver", {
	    "root": ["./"],
	    "alias": {
	      "@views": "./src/views",
	      "@pages": "./src/views/pages",
	      "@core": "./src/core",
	      "@components": "./src/views/components",
	      "@styles": "./src/styles",
	      "@layouts": "./src/views/layouts",
	      "@config": "./config/"
	    }
      }]
  ]
}
