{
    "presets": ["react-native", "stage-1"],
    "plugins": ["transform-object-rest-spread", "react-hot-loader/babel", [
	"module-resolver", {
	    "root": "./",
	    "alias": {
		"@views": "./src/views",
		"@pages": "./src/views/pages",
		"@core": "./src/core",
		"@components": "./src/views/components",
		"@styles": "./src/styles",
		"@layouts": "./src/views/layouts",
		"@config": "./config/"
	    }
	}]
    ]
}
