@keyframes show-player
  0%
    bottom -$playerHeight
  100%
    bottom 0

.player
  fixed left $menuWidth bottom 0 right
  z-index 1000
  display flex
  height $playerHeight
  color $textColor
  background $backgroundColor
  align-items center
  border-top 1px solid $borderColorDark
  -webkit-app-region drag

  transform translateZ(0)
  transition all 0.35s ease
  animation-name show-player
  animation-iteration-count 1
  animation-timing-function ease-in-out
  animation-duration 300ms

  .button__icon
    fill $textColor

    &:active
      background rgba(255, 255, 255, 0.15)

.player__track
  flex 0 0 35%
  display flex
  font-size 13px
  align-items center
  height 100%
  padding 8px 0
  overflow hidden

.player__track-artwork
  flex 0 0 $playerHeight - 10px
  height $playerHeight - 10px
  margin-right 5px
  overflow hidden

.player__track-info
  flex 1
  display flex
  flex-direction column
  min-width 0

.player__track-actions
  flex 0 0 40px

.player__controls
  flex 0 0 30%
  display flex
  flex-direction column

.player__controls-actions
  flex 1
  display flex
  align-items center
  justify-content center
  font-size rem(13px)
  margin-bottom 5px

  .MuiButtonBase-root.MuiIconButton-root
    flex 0 0 40px
    padding 8px

  .player__controls-play
    border 1px solid $textColor

.player__timeline
  flex 1
  font-family monospace
  font-size 10px
  color black
  display flex
  align-items baseline
  color #888

.player__timeline-time
  flex 0

.player__timeline-duration
  flex 0

.player__track-title
  color rgb(0,0,0)

.player__track-title
.player__track-artist
  text-overflow ellipsis
  white-space nowrap
  overflow hidden
  line-height 14px
  height 14px

.player__tracklist
  flex 0 0 35%
  text-align right
  display flex
  height 100%
  padding 8px 0
  font-size 13px
  align-items center
  justify-content flex-end

.player__tracklist-info
  flex 0 0 auto
  display flex
  flex-direction column
  &:hover
    color black

.player__tracklist-info-lead
  flex 1

.player__track-meta
.player__tracklist-info-subtitle
  flex 1
  font-size 8px
  text-transform uppercase
  color lighten($textColor, 50%)

.player__tracklist-artwork
  flex 0 0 $playerHeight - 10px
  margin 0 8px
  overflow hidden
  height $playerHeight - 10px

.player__track-tags
  position relative
  margin-top 8px
  .tag
    font-size 8px
    height 18px
  &:after
    content ""
    position absolute
    z-index 1
    top 0
    right 0
    bottom 0
    pointer-events none
    background-image linear-gradient(to right, rgba($backgroundColor,0), rgba($backgroundColor,1))
    width 45%
