.taglist
  padding 10px
  position relative
  border-bottom 1px solid $borderColorDark
  &:after
    content ""
    position absolute
    z-index 1
    top 0
    right 0
    bottom 0
    pointer-events none
    background-image linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1))
    width 10%

  .loading-indicator
    width 46px
    height 46px
