.contact
  padding 0
  display flex
  align-items center
  color #000
  &:not(.contact__profile)
    cursor pointer
  + .contact
    margin-top -1px

.contact__avatar
  flex 0 0 45px
  width 45px
  height 45px

.contact__body
  flex 1 0 auto
  display flex
  align-items center
  > div
    flex 0 0 auto
    padding 0 4px

.contact__title
  vertical-align middle
  padding 0 15px

.contact__actions
  flex 0 0 auto
  margin-right 10px
  display inline-block
  .button
    background #f5f5f5

.contact__menu
  flex 1 0 auto !important
  border-left 1px solid $borderColorDark
  margin-left 15px
  padding-left 15px
  a
    text-align right
  a:hover
    background #f0f0f0 !important
    color #444
  a.active
    background rgba(20,20,20,0.9) !important
    color white

.contact__heading.contact
  margin-left -45px
  background $backgroundColor
  &:not(:first-child)
    border-top 1px solid $borderColor
    padding-top 15px
    margin-top 45px
    .contact__avatar
      top 15px
  .contact__avatar
    background white
    width 35px
    height 35px
    border-radius 999em
    border 1px solid $borderColor
  .contact__body
    margin-left 45px
    min-height 45px

.contact__item.contact
  border 1px solid $borderColor
  border-radius $borderRadius
  display flex
  &:hover
    background #fbfbfb
  .contact__avatar
    width 45px
    height 45px
    padding 5px
  .contact__body
    flex 0 0 calc(100% - 145px)
    > div
      flex 1
  .contact__actions
    flex 0 0 100px

.contact__profile.contact
  .contact__body > div
    padding 0 10px
   .contact__body div:after
    content attr(data-label)
    font-size 10px
