.copyTextContainer
    position relative

.copyTextOverlay
    absolute top left right bottom
    background-color #ddd
    color white
    font-weight bold
    display flex
    align-items center
    justify-content center