.track__tags
  margin-left $trackHeight
  margin-right 45px
  padding 10px
  input
    padding 0
    width auto
    min-width 66px
    margin-bottom 8px
    background transparent
    border 0
  .current
  .new
      display flex
      flex-wrap wrap
