.track__tags
  margin-left $trackHeight
  padding 10px
  input
    padding 0
    width auto
    min-width 66px
    margin-bottom 8px
    padding 4px 0 4px
  .current
  .new
      display flex
      flex-wrap wrap
