.log
  padding 0
  align-items center
  color #000
  &:not(.log__profile):not(.list__header)
    cursor pointer
  + .log
    margin-top -1px
  &:hover
    .button__icon:not(.button__success)
    .log__edit-title
      opacity 1

  .log__edit-title
  .button__icon:not(.button__success)
    opacity 0

  &.active
    background rgba(255,255,255,0.9)

.log__updated
.log__metadata
  font-size 10px
  color lighten($textColor, 10%)

.log__main
  display flex
  align-items center

.log__side
  display flex
  align-items center
  > div
    flex 0 0 auto
    padding-left 5px

.log__menu
  flex 0 0 30%
  text-align center

.log__actions
  flex 0 0 auto
  display flex
  align-items center
  > div
    flex 0 0 auto
    min-width 40px

.log__avatar
  flex 0 0 45px
  width 45px
  height 45px
  padding 8px

.log__title
  flex 1
  vertical-align middle
  padding 0 8px
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
  line-height 18px
  small
    padding 2px 4px
    background #f0f0f0
    margin-left 4px
    border-radius 3px

.log__menu
  a:hover
    background #f0f0f0 !important
    color #444 !important
  a.active
    background rgba(20,20,20,0.9) !important
    color white !important

.log__item.log
  border 1px solid $borderColor
  border-radius $borderRadius
  display flex
  &:hover:not(.list__header)
    background #fbfbfb
  .log__main
    flex 1
    max-width 450px
  .log__side
    flex 0 0 auto
    > div
      min-width 140px
  .log__main
    flex 0 0 35%

.log__profile.log
  padding 0 16px
  display flex
  .log__main
    flex 0 0 35%
  .log__title
    flex 0 0 auto
  .log__side
    flex 0 0 35%
    justify-content flex-end
    div:after
      content attr(data-label)
      padding-left 2px
      font-size 10px
      text-transform lowercase

.log__menu-item
  .log__avatar
    flex 0 0 35px
    display flex
    height 35px
  .log__title small
    display none
