.page
  absolute left right top bottom 75px
  height 100%
  overflow hidden
  display flex
  flex-direction column
  padding-top 35px
  &.player-open
    padding-bottom 75px

.page__container
  display flex
  align-items center

.page__nav-actions
  flex 0 0 45px

.page__nav-info
  flex 1

.page__head
  flex 0 0 40px
  border-bottom 1px solid $borderColorDark
  background #fcfcfc
  button.button__arrow-back
    border none
    padding 0

.page__body
  flex 1
  position relative
