.page__container
  position relative
  margin 0 auto
  max-width 600px

.page__head
  padding-top 15px
  margin-bottom 15px
  background #f9f9f9
  border-bottom 1px solid $borderColor
  button.button__arrow-back
    absolute left -45px top -5px
    border none
