form
    position relative

    label
        margin-bottom 10px

label
    display block
    font-size 0.8em
    margin-bottom 5px
    input
    textarea
      margin-top 5px

input
textarea
    width 100%
    border-radius 0
    box-shadow none
    padding 10px
    margin 0
    background #fbfbfb
    border 1px solid $borderColor
    border-radius $borderRadius
    &::placeholder
        color rgba(0,0,0,0.3)
    &:hover
    &:focus
        box-shadow none
        outline none

    &[disabled]
      opacity 0.5

input[type="search"]
    &::-webkit-search-cancel-button
        margin-right 10px
