.scroll
    overflow-x hidden
    overflow-y auto
    -webkit-overflow-scrolling touch

.cursor
a
button
    cursor pointer

pre
    font-family "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size 1em
    margin 0
    word-wrap normal
    padding 16px
    overflow auto
    line-height 1.45
    background-color white
    border-radius 3px

label
    padding 2px 8px
    font-size 0.8em
    background-color white

table
    display block
    width 100%
    overflow auto
    th
        font-weight 600

    th
    td
        padding 6px 13px
        border 1px solid #dfe2e5

    tr
        background-color white
        border-top 1px solid #c6cbd1

    tr:nth-child(2n)
        background-color #f6f8fa

p
table
pre
    margin-bottom 16px