.scroll
  overflow-x hidden
  overflow-y auto
  -webkit-overflow-scrolling touch

.cursor
a
button
.button
  cursor pointer

table
  width 100%
  word-break break-all
  background-color #fbfbfb
  border 1px solid $borderColor
  border-radius $borderRadius
  th
    font-weight 600
    min-width 70px
    text-align left

  th
  td
    padding 6px 13px
    border 1px solid $borderColor

  tr
    border-top 1px solid #c6cbd1

  tr:nth-child(2n)
    background-color rgba(255,255,255,0.8)

p
table
  margin-bottom 16px
