.list
  absolute left top right bottom
  display flex
  flex-direction column

.list__head
  flex 0 0 auto

.list__body
  flex 1

.list__header-row
  display flex
  align-items center
  border-bottom 1px solid $borderColorDark

.list__header
  font-size 10px
  border 0 !important
  border-top 1px solid $borderColorDark !important
  border-bottom 1px solid $borderColorDark !important
  div
    height auto !important
  > div
    margin 4px 0
    border-left 1px solid #ccc

.list__search
  flex 3
  input
    padding 15px 25px
    border none
    background transparent

.list__action
  flex 1
  text-align right
  display flex
  flex-direction row-reverse
  justify-content flex-start
  padding 5px
  .action
    flex 0 1 auto
  .action + .action
    margin-right 8px
