$backgroundColor = #ffffff
$successColor = #00C781
$failureColor = #FF4040

$accentColor = #FF492F
$accentColorRGB = 255, 73, 47
$textColor = rgb(50,50,50)

$borderColor = #fafafa
$borderColorDark = #f0f0f0
$borderRadius = 0.15em

$extraSmallMax = 899px
$smallMin = 900px
$smallMax = 999px
$mediumMin = 1000px
$mediumMax = 1199px
$largeMin = 1200px
$largeMax = 1399px

$menuWidth = 180px

$playerHeight = 75px
