$backgroundColor = #ffffff

$accentColor = #2d2e2f
$textColor = rgb(105, 112, 122)

$extraSmallMax = 899px
$smallMin = 900px
$smallMax = 999px
$mediumMin = 1000px
$mediumMax = 1199px
$largeMin = 1200px
$largeMax = 1399px

$trackHeight = 90px

$borderColor = #f0f0f0
$borderRadius = 0.15em
