$backgroundColor = #ffffff

$accentColor = #b822f2
$accentColorRGB = 190, 34, 242
$textColor = rgb(105, 112, 122)

$extraSmallMax = 899px
$smallMin = 900px
$smallMax = 999px
$mediumMin = 1000px
$mediumMax = 1199px
$largeMin = 1200px
$largeMax = 1399px

$borderColor = #fafafa
$borderColorDark = #f0f0f0
$borderRadius = 0.15em
