.tags
  font-size 9px
  display flex
  flex-wrap nowrap
  align-items center
  overflow hidden
  overflow-x scroll
  -webkit-overflow-scrolling auto
  &::-webkit-scrollbar
    display none

  input
    flex 0 0 auto
    padding 0
    width auto
    min-width 30px
    background transparent
    border 0
    &::placeholder
      color $accentColor

  .tag:last-child:after
    content ''
    display block
    position absolute
    right -6rem
    width 6rem
    height 1px
