.loading-indicator
  display inline-block
  position relative
  overflow hidden

  circle
    stroke $accentColor

  &.static
    transform rotate(-90deg)
    circle
      transition stroke-dashoffset 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms

  &.indeterminate
    animation rotate-loading 2s linear infinite
    circle
      stroke-dasharray 1,200
      stroke-dashoffset 0
      animation dash 1.5s ease-in-out infinite

@keyframes rotate-loading
  100%
    transform rotate(360deg)

@keyframes dash
  0%
    stroke-dasharray 1,200
    stroke-dashoffset 0
  50%
    stroke-dasharray 89,200
    stroke-dashoffset -35
  100%
    stroke-dasharray 89,200
    stroke-dashoffset -124
