.tag
  position relative
  color rgba(0,0,0,0.44)
  background #fafafa
  font-size 13px
  font-weight 400
  margin 0 8px 8px 0
  padding 4px 5px
  display inline-block
  border 1px solid #ddd
  border-bottom-color #ccc
  border-radius 1px
  box-shadow inset 0 1px 0 #fff, 0 1px 5px #f1f1f1
  &.active
    font-weight 900
