
.tag
  position relative
  color rgba(0,0,0,0.6)
  background rgba($accentColorRGB,0.1)
  font-size 13px
  font-weight 400
  margin 4px 8px 0 0
  display inline-block
  border 1px solid rgba($accentColorRGB,0.1)
  &.text-only
    border 0
    background transparent
    font-size 9px
    box-shadow none
  &:hover
  &.active
    color rgba(255,255,255,1)
    border-color rgba($accentColorRGB,1)
    background rgba($accentColorRGB,.7)
  a
  .tag--remove
  span
    padding 4px 5px
    vertical-align middle
    display inline-block
    height auto
    width auto
    min-width 0
    min-height 0
    .icon
      width 13px
      height 13px
  .tag--count
  .tag--remove
    border 0
    border-radius 0
    border-left 1px solid rgba($accentColorRGB,0.1)
