.tag
  position relative
  color rgba(0,0,0,0.44)
  background #fafafa
  font-size 13px
  font-weight 400
  margin 0 8px 8px 0
  display inline-block
  border 1px solid #ddd
  border-bottom-color #ccc
  border-radius 1px
  box-shadow inset 0 1px 0 #fff, 0 1px 5px #f1f1f1
  &:hover
  &.active
    color #666
    border-color rgba(211,228,120,.9)
    background rgba(211,228,120,.1)
  a
  .tag--remove
  span
    padding 4px 5px
    vertical-align middle
    display inline-block
    height auto
    width auto
    min-width 0
    min-height 0
    .icon
      width 13px
      height 13px
  .tag--count
  .tag--remove
    border 0
    border-radius 0
    border-left 1px solid #f0f0f0
