$accentColorLight = lighten($accentColor, 92%)

.track
  display flex
  border-bottom 1px solid $borderColor
  padding 0
  overflow hidden
  color black
  align-items center
  + .track
    margin-top -1px
  &.card
    flex 1 1 100px
    flex-direction vertical
  .track__play
    flex 0 0 58px
    position relative
    height 100%
    &:before
      absolute top 0 bottom 0
      display flex
      align-items center
      vertical-align middle
      content attr(data-index)
      font-size 8px
      padding 0 2px
      font-family "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace
    button
      position absolute
      width 100%
      height 100%
      display none
      border-radius 0
      padding 0
  .track__tags-add
    color $accentColor
    flex 0 0 40px
    font-size 10px
    width 100%
    line-height 25px
    opacity 0
  &:hover:not(.list__header)
    background #fbfbfb
    .track__play
      &:before
        display none
      button
        display block
    .track__tags-add
      opacity 1
    .track__tags:after
      background-image linear-gradient(to right, rgba(#fbfbfb,0), rgba(#fbfbfb,1))

  .track__save
    flex 0 0 4%
    button
      border none
      &.button__star-solid
        fill $accentColor
  .track__body
    flex 3 0 10%
    min-width 0px
  .track__title
  .track__artist
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
  .track__artist
    flex 1 0 10%
  .track__duration
  .track__bitrate
  .track__format
  .track__listens
    flex 0 0 45px
  img
    padding 5px
    width 100%
    height 100%
    background $borderColor

  .track__duration
  .track__bitrate
  .track__format
  .track__listens
  .track__body
  .track__artist
  .track__tags
    padding 0 4px
    line-height 20px

  .track__format
    text-overflow ellipsis
    overflow hidden

  &.selected
    background-color $accentColorLight
    .track__play
      &:before
        display none
      button
        display block
    .track__tags:after
      background-image linear-gradient(to right, rgba($accentColorLight,0), rgba($accentColorLight,1))

  &.context-menu-visible
    background rgb(240,240,240)
    border-color rgb(200,200,200)
    .track__tags:after
      background-image linear-gradient(to right, rgba(240,240,240,0), rgba(240,240,240,1))

.track:not(.list__header)
  height 36px

// TODO re-enable
// .track__title:before
//   content ' '
//   display inline-block
//   border-radius 99em
//   width 4px
//   height 4px
//   margin-right 8px
//   margin-left 3px
//   vertical-align middle
//   background-color rgba(0,0,0,0.2)

// .track__available:before
//   background-color $successColor

.track__tags
  flex 1 0 10%
  overflow hidden
  position relative
  &:after
    content ""
    position absolute
    z-index 1
    top 0
    right 0
    bottom 0
    pointer-events none
    background-image linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1))
    width 45%
  .tag
    margin-top 0
    border 0
    font-size 10px
    box-shadow none
