.audio-timeline
    display block
    position relative
    width inherit
    height inherit

    .bar
        position absolute
        height inherit
        background $altColor

    .bar--animated
        transition width 500ms

    .bar--buffered
        opacity 0.3

    .bar--elapsed { }
