.tag
  &.MuiChip-clickable.selected
  &.MuiChip-clickable.selected:focus
    background-color #e0e0e0
    border-color #e0e0e0
  &.internal
    color $accentColor
    border-color $accentColor
    &.selected
    &.selected:focus
      border-color $accentColor
      color rgba(255,255,255,1)
      background $accentColor
