$backgroundColor = white
$textColor = rgb(120,120,120)
$textColorDark = rgb(0,0,0)

.player__queue
  position absolute
  left $menuWidth
  right 0
  top 0
  bottom 75px
  z-index 1
  background $backgroundColor
  transition transform 0.3s cubic-bezier(0.4, 0, 0.2, 1)
  transform translate3d(0, 100vh, 0)
  &.visible
    transform translate3d(0, 0, 0)

.player__queue-content
  padding 56px
  display flex
  height 100%

.player__queue-main
  flex 3
  display flex
  align-items center

.player__queue-side
  flex 2
  display flex
  flex-direction column
  margin-left 40px
  color $textColor
  width 100px

.player__queue-header
  flex 0 0 auto
  padding 8px
  border-bottom 1px solid $textColor
  font-weight 500
  display flex
  align-items center

.player__queue-header-title
  flex 1
  color $textColorDark

.player__queue-clear
  flex 0 0 auto
  fill $textColor
  cursor pointer
  &:not([disabled]):hover
    fill $textColorDark

.player__queue-tracks
  flex 1
  overflow hidden
  overflow-y scroll

.player__queue-tracks-header
  height 56px
  margin-top 16px
  padding 0 8px
  display flex
  align-items center
  border-bottom 1px solid $textColor
  color $textColorDark
  text-transform capitalize

.player__queue-tracks-header-title
  font-weight 500
  margin-right 8px

.queue__track
  cursor move
  background $backgroudColor
  padding 0 8px
  height 56px
  border-bottom 1px solid rgba(0,0,0,0.12)
  display flex
  align-items center
  .MuiButtonBase-root
    opacity 0
  .queue__track-playing
    opacity 1
  &:hover
    .MuiButtonBase-root
      opacity 1

.queue__track-body
  display flex
  flex-direction column
  flex 1
  align-self center
  min-width 1px

.queue__track-title
.queue__track-artist
  display block
  text-overflow ellipsis
  overflow hidden
  white-space nowrap

.queue__track-title
  margin 0 0 4px 0
  color $textColorDark
  &:before
    content ' '
    display inline-block
    border-radius 99em
    width 4px
    height 4px
    margin-right 8px
    margin-left 3px
    vertical-align middle
    background-color rgba(0,0,0,0.2)
  &.available:before
    background-color $successColor

.queue__track-artist
  padding-left 16px

.queue__track-duration
  flex 0 0 40px
  color $textColor
  text-align right

.sortable__helper
  background $backgroundColor
  z-index 9999999
