.tracklist__filter
  display flex
  flex-wrap nowrap
  align-items center
  text-transform capitalize

  &:hover
    color $accentColor

  &.asc .icon
    transform rotate(180deg)

  .icon
    flex 0 0 auto
    height 14px
