.track
    border-bottom 1px solid $borderColor
    padding 0
    .track__play
        absolute top left
        background $borderColor
        width 100px
        height 100px
    .track__actions
        absolute top right
    .track__body
        padding 10px 130px 0 10px
        margin-left 100px