$playerHeight = 45px
$textColor = rgba(255,255,255,0.6)

@keyframes show-player
  0%
      bottom -80px
  100%
      bottom -10px


.player
  fixed bottom right
  z-index 10002
  display block
  transform translateZ(0)
  width 100%
  height $playerHeight
  color $textColor

  max-width 60%
  background #2d2e2f
  transition all 0.35s ease

  animation-name show-player
  animation-iteration-count 1
  animation-timing-function ease-in-out
  animation-duration 300ms
  &.player__fullscreen
    height 100vh

.player__artwork
  height 180px
  margin-bottom 110px

  img
    max-height 100%

.player__controls
  display flex
  align-items center
  margin 0 auto
  max-width 970px
  font-size rem(13px)
  height $playerHeight

  .button
    border 0

  .button__icon
    fill $textColor

    &:hover
      fill rgba(255,255,255,0.9)
      background transparent

    &:active
      background rgba(255, 255, 255, 0.15)

.player-controls__title
  flex 1
  padding 0 10px
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
  word-wrap normal
