$playerHeight = 75px
$textColor = rgba(255,255,255,0.6)

@keyframes show-player
  0%
    bottom -$playerHeight
  100%
    bottom 0

.player
  fixed bottom 0 right
  z-index 10001
  display flex
  width 100%
  height $playerHeight
  color $textColor
  background #2d2e2f
  align-items center

  transform translateZ(0)
  transition all 0.35s ease
  animation-name show-player
  animation-iteration-count 1
  animation-timing-function ease-in-out
  animation-duration 300ms

  .tag
    color $textColor
    background rgba($accentColorRGB,0.3)

  .button__icon
    fill $textColor

    &:hover
      fill rgba(255,255,255,0.9)
      background transparent

    &:active
      background rgba(255, 255, 255, 0.15)

.player__track
  flex 0 0 35%
  display flex
  font-size 13px
  align-items center

.player__track-artwork
  flex 0 0 $playerHeight - 10px
  padding-right 5px
  overflow hidden

.player__track-info
  flex 1
  display flex
  flex-direction column

.player__track-actions
  flex 0 0 40px

.player__controls
  flex 0 0 30%
  display flex
  flex-direction column

.player__controls-actions
  flex 1
  display flex
  align-items center
  justify-content center
  font-size rem(13px)
  margin-bottom 5px

  .button
    border 0
    flex 0 0 40px

  .button__play
  .button__pause
    border 1px solid $textColor

.player__timeline
  flex 1
  font-family monospace
  font-size 10px
  color white
  display flex
  align-items baseline

.player__timeline-time
  flex 0

.player__timeline-duration
  flex 0

.player__actions
  flex 0 0 35%

.player__track-title
  color white
