#importer
  height 100%
  width 100%
  display flex

  .importer-actions
    flex 0 auto
    display flex
    flex-direction column
    border-left 1px solid $borderColorDark
    padding 8px
    justify-content center
    button
      margin 0

  .importer-files
    position relative
    flex 1
    overflow-y scroll
    article
      border 1px solid $borderColor
