.page
  absolute left right top bottom 75px
  height 100%
  overflow hidden
  display flex
  flex-direction column
  padding-top 60px
  &.player-open
    padding-bottom 75px

.page__container
  display flex
  align-items center

.page__nav-info
  flex 1

.page__head
  flex 0 0 40px
  border-bottom 1px solid $borderColorDark
  background #fcfcfc
  button.button__arrow-back
    border none
    padding 0

.page__body
  flex 1
  position relative

.page__title
  line-height 40px
  margin-left 15px

.page__help
  position relative
  background $accentColor
  color white
  display flex
  justify-content center
  align-items center
  min-height 150px
  fill white
  padding 16px

.page__help-body
  max-width 550px

.page__help-row
  display flex
  align-items center
  margin-bottom 8px
  line-height 19px
  .icon
    flex 0 0 40px

.page__help-close
  position absolute
  top 8px
  right 8px

.page__help-link
  text-transform uppercase
  margin-left 25px
  color white

.page__help-lead
  font-weight 600
  padding-left 40px
