.gauge {
  position: absolute;
  right: var(--space-base);
  bottom: var(--space-base);
  z-index: 10;
  padding: var(--space-xs) var(--space-sm);
}

.button {
  color: var(--color-text);
  font-size: var(--font-size-xs);
  font-variant-numeric: tabular-nums;
}
