#menu
  fixed left top right
  z-index 10001
  background #2d2e2f
  height 35px
  display flex
  justify-content center
  align-items center
  -webkit-app-region drag
  a
    color rgba(255,255,255,0.9)
    &:hover
      background rgba(255,255,255,0.15)
    &.active
      background rgba(255,255,255,0.3)
