#menu
    fixed left top bottom
    z-index 10001
    width 95px
    background white
    border-right 1px solid $borderColor
    padding 71px 10px 0
    ul
        padding 15px 0
        border-bottom 1px solid $borderColor
        border-top 1px solid $borderColor
    a
        text-transform lowercase
        text-decoration none
        min-width 45px
        padding 5px 10px
        vertical-align top
        position relative
        font-size 14px
