#replication-status
  fixed bottom 15px right 15px
  z-index 10001
  height 6px
  background green
  width 100px

.replication-progress-container
  absolute left bottom
  width 100%
  height 6px
  background lightgrey

.replication-progress
  height 6px
  background green
