.artwork
  position relative
  background #f0f0f0
  display flex
  justify-content center
  align-items center
  height 100%
  width 100%
  .children
    absolute left top right bottom
    background-size cover
    background-position center
  .disc
    flex 0 0 auto
    border-radius 50%
    width 50%
    background rgba(0,0,0,0.08)
    display flex
    justify-content center
    align-items center
    &:after
      content ""
      display block
      padding-bottom 100%
    .disc-label
      background rgba($accentColorRGB, 0.08)
      border-radius 50%
      width 30%
      flex 0 0 auto
      &:after
        content ""
        display block
        padding-bottom 100%
