.contact
  padding 0
  display flex
  align-items center
  color #000
  &:not(.contact__profile)
    cursor pointer
  + .contact
    margin-top -1px
  &:hover
    .contact__edit-title
      opacity 1

.contact__main
  flex 0 0 35%
  display flex
  align-items center

.contact__side
  display flex
  align-items center
  > div
    flex 0 0 auto
    padding-left 10px

.contact__menu
  flex 0 0 30%
  text-align center

.contact__actions
  flex 0 0 auto
  display flex
  align-items center
  > div
    flex 0 0 auto
    min-width 40px

.contact__avatar
  flex 0 0 45px
  width 45px
  height 45px
  padding 8px

.contact__title
  flex 1
  vertical-align middle
  padding 0 8px
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
  small
    padding 2px 4px
    background #f0f0f0
    margin-left 4px
    border-radius 3px

.contact__menu
  a:hover
    background #f0f0f0 !important
    color #444
  a.active
    background rgba(20,20,20,0.9) !important
    color white

.contact__edit-title
  opacity 0

.contact__item.contact
  border 1px solid $borderColor
  border-radius $borderRadius
  display flex
  &:hover
    background #fbfbfb
  .contact__main
    flex 1
    max-width 450px
  .contact__side
    flex 0 0 100px

.contact__profile.contact
  padding 0 16px
  .contact__title
    flex 0 0 auto
  .contact__side
    flex 0 0 35%
    justify-content flex-end
    div:after
      content attr(data-label)
      font-size 10px

.contact__connected:before
.contact__disconnected:before
  content ' '
  display inline-block
  border-radius 99em
  width 4px
  height 4px
  margin-right 8px
  margin-left 3px
  vertical-align middle

.contact__connected:before
  background-color $successColor

.contact__disconnected:before
  background-color $failureColor
