#menu
  fixed left top bottom
  z-index 1000
  background #f0f0f0
  width $menuWidth
  display flex
  flex-direction column
  -webkit-app-region drag
  a
    -webkit-app-region no-drag
    cursor pointer
    &.active
      background rgba(255,255,255,0.9)

  a
  button:not(disabled)
    &:hover
      background rgba(255,255,255,0.9)

  small
    padding 10px
    margin-top 25px

.menu__top-section
  flex 0 auto
  height 40px
  display flex
  justify-content flex-end

.menu__main-section
  flex 0 auto
  display flex
  flex-direction column
  > a
    margin 0 8px

.menu__libraries-section
  flex 1
  display flex
  flex-direction column

.menu__bottom-section
  flex 0 auto
  height 40px
  display flex
  justify-content space-between
  align-items center

.menu__account
  border  0
  cursor pointer
  height 36px
  width 36px
  min-width 0 !important
  border-radius 100% !important
  padding 0 !important
  display flex !important
  justify-content center
  align-items center
  img
    width 24px
    height 24px
